<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>id</key>
			<string>0372</string>
			<key>name</key>
			<string>安阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0837</string>
			<key>name</key>
			<string>阿坝</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0997</string>
			<key>name</key>
			<string>阿克苏</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0483</string>
			<key>name</key>
			<string>阿拉善盟</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0906</string>
			<key>name</key>
			<string>阿勒泰</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0897</string>
			<key>name</key>
			<string>阿里</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0915</string>
			<key>name</key>
			<string>安康</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0556</string>
			<key>name</key>
			<string>安庆</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0853</string>
			<key>name</key>
			<string>安顺</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0412</string>
			<key>name</key>
			<string>鞍山</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>id</key>
			<string>010</string>
			<key>name</key>
			<string>北京</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0478</string>
			<key>name</key>
			<string>巴彦淖尔</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0996</string>
			<key>name</key>
			<string>巴音</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0827</string>
			<key>name</key>
			<string>巴中</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0436</string>
			<key>name</key>
			<string>白城</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0802</string>
			<key>name</key>
			<string>白沙县</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0439</string>
			<key>name</key>
			<string>白山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0943</string>
			<key>name</key>
			<string>白银</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0776</string>
			<key>name</key>
			<string>百色</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0552</string>
			<key>name</key>
			<string>蚌埠</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0472</string>
			<key>name</key>
			<string>包头</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0917</string>
			<key>name</key>
			<string>宝鸡</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0312</string>
			<key>name</key>
			<string>保定</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0875</string>
			<key>name</key>
			<string>保山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0801</string>
			<key>name</key>
			<string>保亭县</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0779</string>
			<key>name</key>
			<string>北海</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0414</string>
			<key>name</key>
			<string>本溪</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0857</string>
			<key>name</key>
			<string>毕节</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0543</string>
			<key>name</key>
			<string>滨州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0558</string>
			<key>name</key>
			<string>亳州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0909</string>
			<key>name</key>
			<string>博尔塔拉</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>id</key>
			<string>023</string>
			<key>name</key>
			<string>重庆</string>
		</dict>
		<dict>
			<key>id</key>
			<string>028</string>
			<key>name</key>
			<string>成都</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0731</string>
			<key>name</key>
			<string>长沙</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0431</string>
			<key>name</key>
			<string>长春</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0519</string>
			<key>name</key>
			<string>常州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0317</string>
			<key>name</key>
			<string>沧州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0895</string>
			<key>name</key>
			<string>昌都</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0994</string>
			<key>name</key>
			<string>昌吉</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0803</string>
			<key>name</key>
			<string>昌江县</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0355</string>
			<key>name</key>
			<string>长治</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0736</string>
			<key>name</key>
			<string>常德</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0565</string>
			<key>name</key>
			<string>巢湖</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0421</string>
			<key>name</key>
			<string>朝阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0768</string>
			<key>name</key>
			<string>潮州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0735</string>
			<key>name</key>
			<string>郴州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0314</string>
			<key>name</key>
			<string>承德</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0804</string>
			<key>name</key>
			<string>澄迈县</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0566</string>
			<key>name</key>
			<string>池州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0476</string>
			<key>name</key>
			<string>赤峰</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1771</string>
			<key>name</key>
			<string>崇左</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0550</string>
			<key>name</key>
			<string>滁州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0878</string>
			<key>name</key>
			<string>楚雄</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>id</key>
			<string>0769</string>
			<key>name</key>
			<string>东莞</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0411</string>
			<key>name</key>
			<string>大连</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0872</string>
			<key>name</key>
			<string>大理</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0818</string>
			<key>name</key>
			<string>达州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0459</string>
			<key>name</key>
			<string>大庆</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0352</string>
			<key>name</key>
			<string>大同</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0457</string>
			<key>name</key>
			<string>大兴安岭</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0415</string>
			<key>name</key>
			<string>丹东</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0805</string>
			<key>name</key>
			<string>儋州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0692</string>
			<key>name</key>
			<string>德宏</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0838</string>
			<key>name</key>
			<string>德阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0534</string>
			<key>name</key>
			<string>德州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0887</string>
			<key>name</key>
			<string>迪庆</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0806</string>
			<key>name</key>
			<string>定安县</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0932</string>
			<key>name</key>
			<string>定西</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0807</string>
			<key>name</key>
			<string>东方</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0546</string>
			<key>name</key>
			<string>东营</string>
		</dict>
	</array>
	<key>E</key>
	<array>
		<dict>
			<key>id</key>
			<string>0477</string>
			<key>name</key>
			<string>鄂尔多斯</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0711</string>
			<key>name</key>
			<string>鄂州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0718</string>
			<key>name</key>
			<string>恩施</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>id</key>
			<string>0591</string>
			<key>name</key>
			<string>福州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0770</string>
			<key>name</key>
			<string>防城港</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0757</string>
			<key>name</key>
			<string>佛山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0413</string>
			<key>name</key>
			<string>抚顺</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0794</string>
			<key>name</key>
			<string>抚州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0418</string>
			<key>name</key>
			<string>阜新</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1558</string>
			<key>name</key>
			<string>阜阳</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>id</key>
			<string>1852</string>
			<key>name</key>
			<string>港澳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>020</string>
			<key>name</key>
			<string>广州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0851</string>
			<key>name</key>
			<string>贵阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0941</string>
			<key>name</key>
			<string>甘南</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0836</string>
			<key>name</key>
			<string>甘孜</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0797</string>
			<key>name</key>
			<string>赣州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0954</string>
			<key>name</key>
			<string>固原</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0826</string>
			<key>name</key>
			<string>广安</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0839</string>
			<key>name</key>
			<string>广元</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1755</string>
			<key>name</key>
			<string>贵港</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0773</string>
			<key>name</key>
			<string>桂林</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0975</string>
			<key>name</key>
			<string>果洛</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>id</key>
			<string>0571</string>
			<key>name</key>
			<string>杭州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0551</string>
			<key>name</key>
			<string>合肥</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0898</string>
			<key>name</key>
			<string>海口</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0451</string>
			<key>name</key>
			<string>哈尔滨</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0471</string>
			<key>name</key>
			<string>呼和浩特</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0517</string>
			<key>name</key>
			<string>淮安</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0572</string>
			<key>name</key>
			<string>湖州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0902</string>
			<key>name</key>
			<string>哈密</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0970</string>
			<key>name</key>
			<string>海北</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0972</string>
			<key>name</key>
			<string>海东</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0974</string>
			<key>name</key>
			<string>海南</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0977</string>
			<key>name</key>
			<string>海西</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0310</string>
			<key>name</key>
			<string>邯郸</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0916</string>
			<key>name</key>
			<string>汉中</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0903</string>
			<key>name</key>
			<string>和田</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0778</string>
			<key>name</key>
			<string>河池</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0762</string>
			<key>name</key>
			<string>河源</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0530</string>
			<key>name</key>
			<string>菏泽</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1774</string>
			<key>name</key>
			<string>贺州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0392</string>
			<key>name</key>
			<string>鹤壁</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0468</string>
			<key>name</key>
			<string>鹤岗</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0456</string>
			<key>name</key>
			<string>黑河</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0318</string>
			<key>name</key>
			<string>衡水</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0734</string>
			<key>name</key>
			<string>衡阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0873</string>
			<key>name</key>
			<string>红河</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0470</string>
			<key>name</key>
			<string>呼伦贝尔</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0429</string>
			<key>name</key>
			<string>葫芦岛</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0745</string>
			<key>name</key>
			<string>怀化</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0561</string>
			<key>name</key>
			<string>淮北</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0554</string>
			<key>name</key>
			<string>淮南</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0713</string>
			<key>name</key>
			<string>黄冈</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0973</string>
			<key>name</key>
			<string>黄南</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0559</string>
			<key>name</key>
			<string>黄山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0714</string>
			<key>name</key>
			<string>黄石</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0752</string>
			<key>name</key>
			<string>惠州</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>id</key>
			<string>0531</string>
			<key>name</key>
			<string>济南</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0573</string>
			<key>name</key>
			<string>嘉兴</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0579</string>
			<key>name</key>
			<string>金华</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0467</string>
			<key>name</key>
			<string>鸡西</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0796</string>
			<key>name</key>
			<string>吉安</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0432</string>
			<key>name</key>
			<string>吉林</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0537</string>
			<key>name</key>
			<string>济宁</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1391</string>
			<key>name</key>
			<string>济源</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0454</string>
			<key>name</key>
			<string>佳木斯</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1937</string>
			<key>name</key>
			<string>嘉峪关</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0750</string>
			<key>name</key>
			<string>江门</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0391</string>
			<key>name</key>
			<string>焦作</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0663</string>
			<key>name</key>
			<string>揭阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0935</string>
			<key>name</key>
			<string>金昌</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0416</string>
			<key>name</key>
			<string>锦州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0356</string>
			<key>name</key>
			<string>晋城</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0354</string>
			<key>name</key>
			<string>晋中</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0724</string>
			<key>name</key>
			<string>荆门</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0716</string>
			<key>name</key>
			<string>荆州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0798</string>
			<key>name</key>
			<string>景德镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0792</string>
			<key>name</key>
			<string>九江</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0937</string>
			<key>name</key>
			<string>酒泉</string>
		</dict>
	</array>
	<key>K</key>
	<array>
		<dict>
			<key>id</key>
			<string>0871</string>
			<key>name</key>
			<string>昆明</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0998</string>
			<key>name</key>
			<string>喀什</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0378</string>
			<key>name</key>
			<string>开封</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0990</string>
			<key>name</key>
			<string>克拉玛依</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0908</string>
			<key>name</key>
			<string>克孜勒</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>id</key>
			<string>0931</string>
			<key>name</key>
			<string>兰州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0891</string>
			<key>name</key>
			<string>拉萨</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0518</string>
			<key>name</key>
			<string>连云港</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0579</string>
			<key>name</key>
			<string>丽水</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1772</string>
			<key>name</key>
			<string>来宾</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0634</string>
			<key>name</key>
			<string>莱芜</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0316</string>
			<key>name</key>
			<string>廊坊</string>
		</dict>
		<dict>
			<key>id</key>
			<string>2802</string>
			<key>name</key>
			<string>乐东县</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0833</string>
			<key>name</key>
			<string>乐山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0888</string>
			<key>name</key>
			<string>丽江</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0834</string>
			<key>name</key>
			<string>凉山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0419</string>
			<key>name</key>
			<string>辽阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0437</string>
			<key>name</key>
			<string>辽源</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0635</string>
			<key>name</key>
			<string>聊城</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0894</string>
			<key>name</key>
			<string>林芝</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0883</string>
			<key>name</key>
			<string>临沧</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0357</string>
			<key>name</key>
			<string>临汾</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1896</string>
			<key>name</key>
			<string>临高县</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0930</string>
			<key>name</key>
			<string>临夏</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0539</string>
			<key>name</key>
			<string>临沂</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0809</string>
			<key>name</key>
			<string>陵水县</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0772</string>
			<key>name</key>
			<string>柳州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0564</string>
			<key>name</key>
			<string>六安</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0858</string>
			<key>name</key>
			<string>六盘水</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0597</string>
			<key>name</key>
			<string>龙岩</string>
		</dict>
		<dict>
			<key>id</key>
			<string>2935</string>
			<key>name</key>
			<string>陇南</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0738</string>
			<key>name</key>
			<string>娄底</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0830</string>
			<key>name</key>
			<string>泸州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0358</string>
			<key>name</key>
			<string>吕梁</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0379</string>
			<key>name</key>
			<string>洛阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0395</string>
			<key>name</key>
			<string>漯河</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>id</key>
			<string>0555</string>
			<key>name</key>
			<string>马鞍山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0668</string>
			<key>name</key>
			<string>茂名</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1833</string>
			<key>name</key>
			<string>眉山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0753</string>
			<key>name</key>
			<string>梅州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0816</string>
			<key>name</key>
			<string>绵阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0453</string>
			<key>name</key>
			<string>牡丹江</string>
		</dict>
	</array>
	<key>N</key>
	<array>
		<dict>
			<key>id</key>
			<string>025</string>
			<key>name</key>
			<string>南京</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0771</string>
			<key>name</key>
			<string>南宁</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0791</string>
			<key>name</key>
			<string>南昌</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0513</string>
			<key>name</key>
			<string>南通</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0574</string>
			<key>name</key>
			<string>宁波</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1832</string>
			<key>name</key>
			<string>内江</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0896</string>
			<key>name</key>
			<string>那曲</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0817</string>
			<key>name</key>
			<string>南充</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0599</string>
			<key>name</key>
			<string>南平</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0377</string>
			<key>name</key>
			<string>南阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0593</string>
			<key>name</key>
			<string>宁德</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0886</string>
			<key>name</key>
			<string>怒江</string>
		</dict>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>id</key>
			<string>0879</string>
			<key>name</key>
			<string>普洱</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0812</string>
			<key>name</key>
			<string>攀枝花</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0427</string>
			<key>name</key>
			<string>盘锦</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0375</string>
			<key>name</key>
			<string>平顶山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0933</string>
			<key>name</key>
			<string>平凉</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0799</string>
			<key>name</key>
			<string>萍乡</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0594</string>
			<key>name</key>
			<string>莆田</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0393</string>
			<key>name</key>
			<string>濮阳</string>
		</dict>
	</array>
	<key>Q</key>
	<array>
		<dict>
			<key>id</key>
			<string>0570</string>
			<key>name</key>
			<string>衢州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0464</string>
			<key>name</key>
			<string>七台河</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0452</string>
			<key>name</key>
			<string>齐齐哈尔</string>
		</dict>
		<dict>
			<key>id</key>
			<string>2728</string>
			<key>name</key>
			<string>潜江</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0855</string>
			<key>name</key>
			<string>黔东南</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0854</string>
			<key>name</key>
			<string>黔南</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0859</string>
			<key>name</key>
			<string>黔西南</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0777</string>
			<key>name</key>
			<string>钦州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0335</string>
			<key>name</key>
			<string>秦皇岛</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0532</string>
			<key>name</key>
			<string>青岛</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0763</string>
			<key>name</key>
			<string>清远</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0934</string>
			<key>name</key>
			<string>庆阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1894</string>
			<key>name</key>
			<string>琼海</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1899</string>
			<key>name</key>
			<string>琼中县</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0874</string>
			<key>name</key>
			<string>曲靖</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0595</string>
			<key>name</key>
			<string>泉州</string>
		</dict>
	</array>
	<key>R</key>
	<array>
		<dict>
			<key>id</key>
			<string>0633</string>
			<key>name</key>
			<string>日照</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0892</string>
			<key>name</key>
			<string>日喀则</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>id</key>
			<string>021</string>
			<key>name</key>
			<string>上海</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0311</string>
			<key>name</key>
			<string>石家庄</string>
		</dict>
		<dict>
			<key>id</key>
			<string>024</string>
			<key>name</key>
			<string>沈阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0755</string>
			<key>name</key>
			<string>深圳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0512</string>
			<key>name</key>
			<string>苏州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0527</string>
			<key>name</key>
			<string>宿迁</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0575</string>
			<key>name</key>
			<string>绍兴</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0398</string>
			<key>name</key>
			<string>三门峡</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0598</string>
			<key>name</key>
			<string>三明</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0899</string>
			<key>name</key>
			<string>三亚</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0893</string>
			<key>name</key>
			<string>山南</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0754</string>
			<key>name</key>
			<string>汕头</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0660</string>
			<key>name</key>
			<string>汕尾</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0914</string>
			<key>name</key>
			<string>商洛</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0370</string>
			<key>name</key>
			<string>商丘</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0793</string>
			<key>name</key>
			<string>上饶</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0751</string>
			<key>name</key>
			<string>韶关</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0739</string>
			<key>name</key>
			<string>邵阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1719</string>
			<key>name</key>
			<string>神农架</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0719</string>
			<key>name</key>
			<string>十堰</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0993</string>
			<key>name</key>
			<string>石河子</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0952</string>
			<key>name</key>
			<string>石嘴山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0469</string>
			<key>name</key>
			<string>双鸭山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0349</string>
			<key>name</key>
			<string>朔州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0434</string>
			<key>name</key>
			<string>四平</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0438</string>
			<key>name</key>
			<string>松原</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0557</string>
			<key>name</key>
			<string>宿州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0455</string>
			<key>name</key>
			<string>绥化</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0722</string>
			<key>name</key>
			<string>随州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0825</string>
			<key>name</key>
			<string>遂宁</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>id</key>
			<string>0351</string>
			<key>name</key>
			<string>太原</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0523</string>
			<key>name</key>
			<string>泰州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0576</string>
			<key>name</key>
			<string>台州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0901</string>
			<key>name</key>
			<string>塔城</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0538</string>
			<key>name</key>
			<string>泰安</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0315</string>
			<key>name</key>
			<string>唐山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>022</string>
			<key>name</key>
			<string>天津</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1728</string>
			<key>name</key>
			<string>天门</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0938</string>
			<key>name</key>
			<string>天水</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0410</string>
			<key>name</key>
			<string>铁岭</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0435</string>
			<key>name</key>
			<string>通化</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0475</string>
			<key>name</key>
			<string>通辽</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0919</string>
			<key>name</key>
			<string>铜川</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0562</string>
			<key>name</key>
			<string>铜陵</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0856</string>
			<key>name</key>
			<string>铜仁</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0995</string>
			<key>name</key>
			<string>吐鲁番</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1892</string>
			<key>name</key>
			<string>屯昌县</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>id</key>
			<string>027</string>
			<key>name</key>
			<string>武汉</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0991</string>
			<key>name</key>
			<string>乌鲁木齐</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0510</string>
			<key>name</key>
			<string>无锡</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0577</string>
			<key>name</key>
			<string>温州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1898</string>
			<key>name</key>
			<string>万宁</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0631</string>
			<key>name</key>
			<string>威海</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0536</string>
			<key>name</key>
			<string>潍坊</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0913</string>
			<key>name</key>
			<string>渭南</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1893</string>
			<key>name</key>
			<string>文昌</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0876</string>
			<key>name</key>
			<string>文山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0473</string>
			<key>name</key>
			<string>乌海</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0474</string>
			<key>name</key>
			<string>乌兰察布</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0953</string>
			<key>name</key>
			<string>吴忠</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0553</string>
			<key>name</key>
			<string>芜湖</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0774</string>
			<key>name</key>
			<string>梧州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1987</string>
			<key>name</key>
			<string>五指山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1935</string>
			<key>name</key>
			<string>武威</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>id</key>
			<string>029</string>
			<key>name</key>
			<string>西安</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0971</string>
			<key>name</key>
			<string>西宁</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0516</string>
			<key>name</key>
			<string>徐州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0710</string>
			<key>name</key>
			<string>襄阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0691</string>
			<key>name</key>
			<string>西双版纳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0475</string>
			<key>name</key>
			<string>锡林郭勒</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0592</string>
			<key>name</key>
			<string>厦门</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0728</string>
			<key>name</key>
			<string>仙桃</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0715</string>
			<key>name</key>
			<string>咸宁</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0910</string>
			<key>name</key>
			<string>咸阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0732</string>
			<key>name</key>
			<string>湘潭</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0743</string>
			<key>name</key>
			<string>湘西</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0712</string>
			<key>name</key>
			<string>孝感</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0350</string>
			<key>name</key>
			<string>忻州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0373</string>
			<key>name</key>
			<string>新乡</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0790</string>
			<key>name</key>
			<string>新余</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0376</string>
			<key>name</key>
			<string>信阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0482</string>
			<key>name</key>
			<string>兴安盟</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0319</string>
			<key>name</key>
			<string>邢台</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0374</string>
			<key>name</key>
			<string>许昌</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0563</string>
			<key>name</key>
			<string>宣城</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>id</key>
			<string>0951</string>
			<key>name</key>
			<string>银川</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0514</string>
			<key>name</key>
			<string>扬州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0515</string>
			<key>name</key>
			<string>盐城</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0835</string>
			<key>name</key>
			<string>雅安</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0535</string>
			<key>name</key>
			<string>烟台</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0911</string>
			<key>name</key>
			<string>延安</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1433</string>
			<key>name</key>
			<string>延边</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0662</string>
			<key>name</key>
			<string>阳江</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0353</string>
			<key>name</key>
			<string>阳泉</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0458</string>
			<key>name</key>
			<string>伊春</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0999</string>
			<key>name</key>
			<string>伊犁</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0831</string>
			<key>name</key>
			<string>宜宾</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0717</string>
			<key>name</key>
			<string>宜昌</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0795</string>
			<key>name</key>
			<string>宜春</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0737</string>
			<key>name</key>
			<string>益阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0701</string>
			<key>name</key>
			<string>鹰潭</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0417</string>
			<key>name</key>
			<string>营口</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0746</string>
			<key>name</key>
			<string>永州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0912</string>
			<key>name</key>
			<string>榆林</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0775</string>
			<key>name</key>
			<string>玉林</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0976</string>
			<key>name</key>
			<string>玉树</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0877</string>
			<key>name</key>
			<string>玉溪</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0730</string>
			<key>name</key>
			<string>岳阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0766</string>
			<key>name</key>
			<string>云浮</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0359</string>
			<key>name</key>
			<string>运城</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>id</key>
			<string>0371</string>
			<key>name</key>
			<string>郑州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0511</string>
			<key>name</key>
			<string>镇江</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0580</string>
			<key>name</key>
			<string>舟山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0632</string>
			<key>name</key>
			<string>枣庄</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0759</string>
			<key>name</key>
			<string>湛江</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0744</string>
			<key>name</key>
			<string>张家界</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0313</string>
			<key>name</key>
			<string>张家口</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0936</string>
			<key>name</key>
			<string>张掖</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0596</string>
			<key>name</key>
			<string>漳州</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0870</string>
			<key>name</key>
			<string>昭通</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0758</string>
			<key>name</key>
			<string>肇庆</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0760</string>
			<key>name</key>
			<string>中山</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1953</string>
			<key>name</key>
			<string>中卫</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0394</string>
			<key>name</key>
			<string>周口</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0733</string>
			<key>name</key>
			<string>株洲</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0756</string>
			<key>name</key>
			<string>珠海</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0396</string>
			<key>name</key>
			<string>驻马店</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0832</string>
			<key>name</key>
			<string>资阳</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0533</string>
			<key>name</key>
			<string>淄博</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0813</string>
			<key>name</key>
			<string>自贡</string>
		</dict>
		<dict>
			<key>id</key>
			<string>0852</string>
			<key>name</key>
			<string>遵义</string>
		</dict>
	</array>
</dict>
</plist>
