<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GetHotels.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2BD3E2B1F4AA201002C6B98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2BD3E471F4AA201002C6B98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2BD3E521F4AA201002C6B98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
